<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>To Do List</title>

    <!-- Include Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Include Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

    <!-- Include Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<div class="container">
    <h2 class="blue-text">ToDo List</h2> <!-- Title color changed here -->

    <div th:object="${todoTaskList}">
        <h3>List Details [id: <span th:text="*{id}"></span>]</h3>
        <p><b>Title:</b> <span th:text="*{title}"></span></p>
        <p><b>Status:</b> <span th:text="*{status}"></span></p>

        <h3>Tasks:</h3>
        <table class="striped">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
            <tr th:each="task : *{tasks}">
                <td th:text="${task.title}"></td>
                <td th:text="${task.description}"></td>
                <td><label>
                    <input th:checked="${task.status.toString()} == 'COMPLETED'" type="checkbox"/>
                    <span th:text="${task.status}"></span>
                </label>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
